html, body {
    margin: 0;
	height: 100%;
	width: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button{
    width: 15vw;
    height: auto;
}

#button:hover{
    border: 1px solid #9f9f9f;
}

#barcode{
    width: 100%;
    height: auto;
    text-align: center;
}

#shtrihPicture{
    width: 65%;
}

#title{
    font-size: xx-large;
    font-weight: 900;
}